* {
    font-family: 'Libre Baskerville', 'Helvetica Neue', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 10px 20px;
}

button {
    padding: 7.5px 10px;
    border: 3px solid #003180;
    border-radius: 0;
    margin: 10px;
    color: #003180;
    font-weight: bold;
    font-size: 12pt;
    background-color: white;
    cursor: pointer;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    transition: color 0.4s ease, background-color 0.4s ease;
}

button:hover {
    color: white;
    background-color: #003180;
}

button:focus {
    color: white;
    background-color: #003180;
}

select {
    padding: 10px;
    outline: 0.5px solid black;
    border-radius: 0;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

select:focus {
    outline: 1px solid #003180;
}

::selection {
    background-color: rgba(0, 49, 128, 0.5);
}

#email-collection {
    width: 50vw;
    max-width: 350px;
    min-width: 320px;
    border: 1px solid black;
    border-radius: 0;
    padding: 0 7.5px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s ease;
}

#email-collection input {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    width: 75%;
    font-size: 16px;
}

#email-collection p {
    width: 25%;
}

#content {
    display: none;
}

.disabled {
    opacity: 0.5;
    cursor: wait;
}